@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #1e1e1e;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    padding: 24px 20px;
    background-color: #fff;
    border-radius: 8px;
}

.search-bar {
    width: 100%;
    position: relative;
}

.weather-search i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
}

.city-search {
    padding-left: 32px;
    width: 248px;
    height: 32px;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
}

.city-search::placeholder {
    color: #fff;
    font-family: "Poppins", sans-serif;
}

/* weather body */
.weather-body {
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
}

.weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.weather-forecast {
    background-color:#000;
    color: #fff;
    padding: .4rem 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
}

.weather-icon {
    /* font-size: 3rem; */
    color: #fff;
    text-shadow: 0 0 12px #000;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.weather-temperature {
    font-size: 2rem;
}

.weather-minmax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: .85rem;
}



/* weather info */
.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.weather-card {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20.2rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 20px #3333333c;
}

.weather-card i {
    margin-inline: 12px;
    font-size: 1.5rem;
}

.weather-card p {
    display: block;
    width: 100%;
    font-size: .95rem;
}